<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.agtop.p2p.dao.AdminDao">
    <!-- Admin的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_Admin_Map" type="club.agtop.p2p.entity.Admin">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realname" property="realname"/>
        <result column="tel" property="tel"/>
        <result column="address" property="address"/>
        <result column="birthday" property="birthday"/>
        <result column="jobtime" property="jobtime"/>
        <result column="photo" property="photo"/>
        <result column="email" property="email"/>
    </resultMap>

    <!-- 数据库中表名为:p_admin的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="p_admin_Column">
        p_admin.id as id
        ,p_admin.username as username
        ,p_admin.password as password
        ,p_admin.realname as realname
        ,p_admin.tel as tel
        ,p_admin.address as address
        ,p_admin.birthday as birthday
        ,p_admin.jobtime as jobtime
        ,p_admin.photo as photo
        ,p_admin.email as email
    </sql>

    <!--获得类名为:Admin对应的数据库表的数据总行数 -->
    <select id="getAdminRowCount" resultType="java.lang.Long">
        select count(id) from p_admin
    </select>
    <!-- 获得类名为:Admin对应数据库中表的数据集合 -->
    <select id="selectAdmin" resultMap="result_Admin_Map">
        select
        <include refid="p_admin_Column"/>
        from p_admin
    </select>

    <!-- 获得一个Admin对象,以参数Admin对象中不为空的属性作为条件进行查询-->
    <select id="selectAdminByObj" parameterType="club.agtop.p2p.entity.Admin" resultMap="result_Admin_Map">
        select
        <include refid="p_admin_Column"/>
        from p_admin
        <where>
            <if test="email != null ">and p_admin.email = #{email}</if>
            <if test="photo != null ">and p_admin.photo = #{photo}</if>
            <if test="jobtime != null ">and p_admin.jobtime = #{jobtime}</if>
            <if test="birthday != null ">and p_admin.birthday = #{birthday}</if>
            <if test="address != null ">and p_admin.address = #{address}</if>
            <if test="tel != null ">and p_admin.tel = #{tel}</if>
            <if test="realname != null ">and p_admin.realname = #{realname}</if>
            <if test="password != null ">and p_admin.password = #{password}</if>
            <if test="username != null ">and p_admin.username = #{username}</if>
            <if test="id != null ">and p_admin.id = #{id}</if>
        </where>
    </select>

    <!-- 通过Admin的id获得对应数据库中表的数据对象-->
    <select id="selectAdminById" parameterType="java.lang.Integer" resultMap="result_Admin_Map">
        select
        <include refid="p_admin_Column"/>
        from p_admin
        where p_admin.id = #{id}
    </select>

    <!-- 将Admin插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertAdmin" parameterType="club.agtop.p2p.entity.Admin">
        insert into p_admin(id,username,password,realname,tel,address,birthday,jobtime,photo,email) 
        values(#{id},#{username},#{password},#{realname},#{tel},#{address},#{birthday},#{jobtime},#{photo},#{email})
    </insert>

    <!-- 将Admin中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyAdmin" parameterType="club.agtop.p2p.entity.Admin">
        insert into p_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="realname != null">realname,</if>
            <if test="tel != null">tel,</if>
            <if test="address != null">address,</if>
            <if test="birthday != null">birthday,</if>
            <if test="jobtime != null">jobtime,</if>
            <if test="photo != null">photo,</if>
            <if test="email != null">email,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="realname != null">#{realname},</if>
            <if test="tel != null">#{tel},</if>
            <if test="address != null">#{address},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="jobtime != null">#{jobtime},</if>
            <if test="photo != null">#{photo},</if>
            <if test="email != null">#{email},</if>
        </trim>
    </insert>

    <!-- 通过Admin的id将数据库表中对应的数据删除-->
    <delete id="deleteAdminById" parameterType="java.lang.Integer">
        delete from p_admin
        where id = #{id}
    </delete>

    <!-- 通过Admin的id将Admin的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateAdminById" parameterType="club.agtop.p2p.entity.Admin">
        update p_admin set
            username=#{username}
            ,password=#{password}
            ,realname=#{realname}
            ,tel=#{tel}
            ,address=#{address}
            ,birthday=#{birthday}
            ,jobtime=#{jobtime}
            ,photo=#{photo}
            ,email=#{email}
        where id=#{id}
    </update>

    <!-- 通过Admin的id将Admin中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyAdminById" parameterType="club.agtop.p2p.entity.Admin">
        update p_admin
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="realname != null">
                realname=#{realname},
            </if>
            <if test="tel != null">
                tel=#{tel},
            </if>
            <if test="address != null">
                address=#{address},
            </if>
            <if test="birthday != null">
                birthday=#{birthday},
            </if>
            <if test="jobtime != null">
                jobtime=#{jobtime},
            </if>
            <if test="photo != null">
                photo=#{photo},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>