<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.agtop.p2p.dao.RepayRecordDao">
    <resultMap id="repayMaper" type="RepayRecord">
        <id property="id" column="id"/>
        <result column="money" property="money"/>
        <result column="repaytime" property="repaytime"/>
        <result column="banlence" property="banlence"/>
        <result column="status" property="status"/>
        <association property="user" javaType="User">
            <id column="userid" property="id"/>
            <result column="realname" property="realname"/>
            <result column="tel" property="tel"/>
        </association>
        <association property="project" javaType="Project">
            <id column="projectid" property="id"/>
            <result column="projectname" property="projectname"/>
            <result column="pmoney" property="money"/>
            <result column="loan" property="loan"/>
            <result column="loanuse" property="loanuse"/>
            <result column="loantype" property="loantype"/>
            <result column="loantime" property="loantime"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="repayMaper">
                SELECT
                    r.id AS id,
                    r.money AS money,
                    r.repaytime AS repaytime,
                    r.banlence AS banlence,
                    r.`status` AS `status`,
                    u.id AS userid,
                    u.realname AS realname,
                    u.tel AS tel,
                    p.id AS projectid,
                  p.projectname as projectname,
                  p.money as pmoney,
                  p.loan as loan,
                  p.loanuse as loanuse,
                  p.loantype as loantype,
                  p.loantime as loantime
                FROM
                    p_repay_record r
                LEFT JOIN p_project p ON r.projectid = p.id
                LEFT JOIN p_user u ON r.userid = u.id
   </select>
</mapper>